@import url('https://fonts.cdnfonts.com/css/gantari');

:root {
    --color-fondoCajas: #9dbb89;
    --color-enfasisboton: #d1e782;
    --color-textos: #123718;
    --color-botones: #f0c05e;
    --color-titulos: #3d8232;
    --fuente: 'Gantari', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fuente);
    color: var(--color-textos);
}

/* ----------- HEADER ------------------------- */

.boton_navbar {
    background-color: var(--color-botones);
    color: var(--color-textos);
    font-weight: bold;
}

.boton_navbar:hover {
    background-color: var(--color-botones);
}

.barra_navegacion {
    background-color: var(--color-fondoCajas);
}

.img_perfil {
    border: 1px solid var(--color-titulos);
}

.lista_perfil {
    display: none;
}

.lema {
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 5px #123718;
}

/* ------------------------- MAIN -------------------------- */
main {
    display: flex;
    justify-content: space-between;
}
/* -------------- SLIDE IZQUIERDO--------------- */
.sect_slide_izq {
    margin-left: 30px;
}

.contenedor_filtros {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.conte_buscar {
    background-color: white;
    border-radius: 20px;
}

.btn_buscar {
    background-color: var(--color-fondoCajas);
    border-radius: 22px;
}

.btn_buscar:hover {
    background-color: var(--color-enfasisboton);
}

.slide_bloq {
    background-color: var(--color-fondoCajas);
    position: sticky;
    top: 6rem;
}

.lista_filtro {
    border: 2px solid var(--color-textos);
    border-radius: 20px;
    color: var(--color-textos);
    width: 100%;
}

.lista_localidades {
    height: 250px;
    overflow-y: scroll;
}

.listas {
    width: 100%;
    border-radius: 10px;
}

.listas li a:hover {
    background-color: var(--color-enfasisboton);
}

.btn_filtrar {
    width: 5rem;
}

.btn_filtros {
    margin: auto;
}


/* ---------------- PUBLICACIONES ---------------- */
.titulo_publicaciones {
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 2px 5px #123718;
}

.titulo_publi {
    color: var(--color-titulos);
    font-weight: bold;
    font-style: italic;
}

.iconos_f_publi {
    display: flex;
    justify-content: space-between;
    color: var(--color-textos);
}

.iconos_publi i {
    margin: 5px;
}

/* --------------- CAJA DE BÚSQUEDA MOVIL -------------------- */
.caja_movil {
    display: none;
    padding: 10px 20px;
    margin: 0 18px;
    height: 100px;
    background-color: var(--color-fondoCajas);
    flex-direction: column;
    justify-content: space-between;
}

.div_btn_caja {
    display: flex;
    justify-content: space-between;
}

.boton_caja {
    background-color: var(--color-botones);
    color: var(--color-textos);
    font-weight: bold;
}

.btn_filtrar_caja {
    display: flex;
}


/* ---------------- SLIDE DERECHO ----------------- */

.sect_slide_der {
    margin-right: 8px;
}

.contenedor_eventos {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.text_img_eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_prox_eventos {
    width: 200px;
}

.btn_info {
    margin: 10px 0;
}

/* ----------------------------- FOOTER -------------------------- */

footer{
    background-color: var(--color-fondoCajas);
}


/* ------------- MEDIA QUERIES ---------------- */

@media (max-width: 992px) {
    main {
        flex-direction: column;
    }
    .lista_perfil{
        display: block;
    }
    .boton_navbar {
        display: none;
    }
    .caja_movil {
        display: flex;
    }
}