@import url("https://fonts.cdnfonts.com/css/gantari");

:root {
  --color-fondoCajas: #9dbb89;
  --color-enfasisboton: #d1e782;
  --color-textos: #123718;
  --color-botones: #f0c05e;
  --color-titulos: #3d8232;
  --fuente: "Gantari", sans-serif;
}
main{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.logo-container {
  margin-bottom: 60px;
  width: 100%;
  height: 90px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  max-height: 70px;
  width: auto;
}

.lema {
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 5px #123718;
}

.formulario {
  margin: 15px;
  border-radius: 10%;
  background-color: white;
  /* Borde formulario */
  border: 2px solid var(--color-textos);
  box-shadow: 0 4px 8px var(--color-textos);
  padding: 20px;
}

.formulario h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #9dbd89;
}

.formulario form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .nombreusuario {
  position: relative;
  margin: 20px 0;
}

.nombreusuario label {
  display: block;
  margin-bottom: 5px;
  color: rgb(99, 98, 98);
  font-size: 16px;
}

.nombreusuario input {
  width: 100%;
  padding: 10px;
  height: 40px;
  font-size: 16px;
  background-color: #9dbd89;
  outline: none;
  border: 2px solid #9dbd89;
  border-radius: 5px;
  box-sizing: border-box;
}

.Recordar {
  margin: -5px 0 20px 5px;
  color: #9dbd89;
  cursor: pointer;
}

.Recordar:hover {
  text-decoration: underline;
}

/*contenedor botones*/
.contenedor-botones {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px;
}

/*estilos botones*/
input[type="submit"] {
  flex: 1;
  height: 40px;
  border: 1px solid #f0c05e;
  background: #f0c05e;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.boton-izquierda {
  margin-right: auto;
}

.boton-derecha {
  margin-left: auto;
}

input[type="submit"]:hover {
  background: #e6ac4a;
}

/* ----------------------------- FOOTER -------------------------- */

footer {
  background-color: var(--color-fondoCajas);
  margin-top: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;
}